#PageContent{max-width:62rem;} /* decrease content width maximum limit */
p,ul,li,a,strong,em,span{font-size:0.95rem;} /* Increase font size */
a img{border:0;} /* To stop those disgusting IE borders */
